{% extends 'base.html.twig' %}
{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
<div>
  <h1>{{ program.title }}</h1>
</div>
  <div>
    Season number : {{season.number}} <br><br>
   </div>
  <div>
    <div>Episode number : {{ episode.number }}</div>
    <div><b>Title : {{ episode.title }}</b></div>
    <div>Synopsis : {{ episode.synopsis}}</div>
    <br><br>
</div>
<div>
  <a href="{{ path("program_show", { slug: program.slug }) }}">Retour à la série</a>
</div>
<div>
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
</div>

{% endblock %}