{% extends 'base.html.twig' %}
{% block title %}Season #{{ program.id }}{% endblock %}

{% block body %}
  <div>
    <h1>{{ program.title }}</h1>
  </div>
  <div>
   Year : {{ season.year }}
  </div>
  <div>
    <h3>Summary: {{ season.description }}</h3>
  </div>
<div>
  {% for episode in season.episodes %}
    <div>Episode number : {{ episode.number }}</div>
    <a href="{{path('program_episode_show', {programSlug: program.slug, season:season.id, episodeSlug: episode.slug}) }}"><div>Title : {{ episode.title }}</div></a> 

    <br><br>
  {% endfor %}
  <div>
    <a href="{{ path("program_show", { slug: program.slug }) }}">Retour à la série</a>
  </div>
</div>
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}